<div class="page">
    <div class="card container">
        <div class="row">
            <div class=" log col-md-2">
                <img class="logo" src="../../assets/logo.svg">
            </div>
            <div class="back col-md-5">
            </div>
            <div class="col-md-5 lef  ">

                <h3 class="title">Login</h3>


                <form action="" class="mt-5 p-5">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                        <label>Username </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                        <label>Password</label>
                    </div>

                    <div class="row flex ">
                        <div class="form-check col-md-6">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Keep me signed in 
                            </label>

                        </div>
                        <div class=" col-md-6 d-grid  gap-4 d-md-flex justify-content-md-end ">
                            <button class="btn bt1  " type="button">Valider &nbsp; <img src="../../assets/arrow.svg"/> </button>
                        </div>

                    </div>

                </form>

                <div class=" buttons   container  gap-4  ">
                    <button class="btn bt2   me-md-2" type="button">Forget Password ?</button>
                    <button class="btn  bt3  me-md-2" type="button">Get the licence key </button>
                </div>



                <div class="col-md-12 foot">
                </div>

            </div>

        </div>
    </div>
</div>